{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<style>
    body {
       background-image: url(https://wallpapercave.com/wp/wp8255146.jpg); 
    } 

    .login {
        font-family: cursive;
        color: white;
        font-size: larger;
        margin: auto;
        display:block;
        align-items: center;
        justify-content: center;
        text-shadow: 2px 2px 3px #000;
    }
    input {
      margin: auto;
      background-color: #a80d4b; /* Green */
      border: 2px solid #111;
      border-radius: 20px;
      color: rgb(255, 255, 255);
      padding: 6px 20px;
      text-align: left;
      display: inline-block;
      font-size: 16px
    }

    input:hover {
      background-color: #ffffff; /* Green */
      color: #a80d4b;
    }
</style>

<body>
<div class = "login">
    
    <h1>Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div> 
</body>

{% endblock content %}