{% extends 'base.html' %}

{% block meta %}
<title>To Do List</title>
{% endblock meta %}

{% block content %}

<style>
    body {
       background-image: url(https://wallpapercave.com/wp/wp8255146.jpg); 
       padding: 20px 10px;
    }   

    .card {
      margin-bottom: 15pt;
      margin-inline: 20px auto;
      background-color: #f8d8e6;
      transform:
        rotateX(0deg)
        rotateZ(0deg);
      transform-style: preserve-3d;
      border-radius: 25px;
      box-shadow:
        1px 1px 0 1px #f8d8e6,
        -1px 0 28px 0 rgba(3, 0, 154, 0.01),
        28px 28px 28px 0 rgba(34, 33, 81, 0.25);
      transition:
        .4s ease-in-out transform,
        .4s ease-in-out box-shadow;
    }

  .card:hover {
    transform:
      translate3d(0px, -16px, 0px)
      rotateX(0deg)
      rotateZ(0deg);
    box-shadow:
      1px 1px 0 1px #f8d8e6,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
  }


    h1, h3, h2 {
        color: white;
        text-align: center;
        font-family: cursive;
        text-shadow: 2px 2px 3px #000;
    }

    table {
    border-collapse: collapse;
    background-color: #f8d8e6;
    margin: auto;
    
    }

    th {
      background-color: #e94895;
      text-align: center;
    }

    td {
      text-align: left;
    }

    td, th {
    border: 1px solid rgb(11, 9, 9);
    padding: 0.5rem;
    font-family: cursive;
    font-size: smaller;
    }

    .button-logout {
      margin: auto;
      background-color: #a80d4b; /* Green */
      border: 2px solid #111;
      border-radius: 20px;
      color: rgb(255, 255, 255);
      padding: 10px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px
    }

    .button-logout:hover {
      background-color: #ffffff; /* Green */
      color: #a80d4b;
    }

/* CSS */
.button-56 {
  align-items: center;
  margin: auto;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 20px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 20px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

</style>

<body>
<h1>&#128171To Do List&#128218</h1>
<h3>Hi {{user}}!&#128075</h3>
<h2>Your To Do List</h2>
<br>

<!-- <table>
    <tr>
    <th>&#128197 Date</th>
    <th>&#128204 Title</th>
    <th>&#128196 Description</th>
    </tr> -->

<div class="row">
{% for todo in list_todo %}
<div class="card col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{todo.title}}</h5>
    <p class="card-text">{{todo.date}}</p>
    <p class="card-text">{{todo.description}}</p>
  </div>
</div>
{% endfor %}
</div>
<!-- </table> -->
<br>
<a href="{% url 'todolist:show_newtask' %}"><button class="button-56" role="button">+ New Task</button></a>
<br>
<a href="{% url 'todolist:logout' %}"><button class="button-logout">Logout</button></a>
</body>
{% endblock content %}


<!-- Referensi button :
https://getcssscan.com/css-buttons-examples -->
