{% extends 'base.html' %}

{% block content %}

<style>
    table {
    border-collapse: collapse;
    background-color: rgb(234, 206, 201);
    margin: auto;
    }

    td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    }

    h1, h5, p {
        text-align: center;
    }
</style>

<h1>Tugas 3 PBP</h1>

<h5>Name: </h5>
<p>{{name}}</p>

<h5>Student ID: </h5>
<p>{{npm}}</p>

<table>
    <tr>
    <th>Title</th>
    <th>Release Date</th>
    <th>Watched</th>
    <th>Rating</th>
    <th>Review</th>
    </tr>
    {% comment %} Watchlist Data {% endcomment %}
    {% for movie in list_movie %}
        <tr>
            <td>{{movie.title}}</td>
            <td>{{movie.release_date}}</td>
            <td>{{movie.watched}}</td>
            <td>{{movie.rating}}</td>
            <td>{{movie.review}}</td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}

<!-- Referensi -->
<!-- https://css-tricks.com/complete-guide-table-element/ -->