{% extends 'base.html' %}

{% block content %}

<style>
    h1 {
        color: rgb(206, 20, 94);
    }

    h5, h2, p, h1 {
        text-align: center;
    }

    button {
        display: block;
        margin: 40px auto;
        width: 10%;
        padding: 10px;
        font-size: 15px;
        background: #d772cb;
        border: 2px solid #c70871;
    }
</style>

<h1>Tugas 3 PBP</h1>

<h5>Name: </h5>
<p>{{name}}</p>

<h5>Student ID: </h5>
<p>{{npm}}</p>

<h2>Welcome to my movie review !!!</h2>

<a href="/mywatchlist/html"><button>html</button></a>
<a href="/mywatchlist/json"><button>json</button></a>
<a href="/mywatchlist/xml"><button>xml</button></a>

{% endblock content %}